<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
	PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>ImmoscoutWatcher.html</welcome-file>
	</welcome-file-list>

	<!-- Servlets -->
  <servlet>
    <servlet-name>watcherServiceImpl</servlet-name>
    <servlet-class>com.hans.gwt.immoscout.watcher.server.WatcherServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>watcherServiceImpl</servlet-name>
    <url-pattern>/com.hans.gwt.immoscout.watcher.ImmoscoutWatcher/myServices</url-pattern>
  </servlet-mapping>
  
</web-app>
